/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

.background-pattern {
  @apply bg-black;
  opacity: 1;
  background-image: radial-gradient(#f8ffeb 1.55px, #000 1.55px);
  background-size: 16px 16px;
}

body {
  @apply background-pattern w-full min-h-screen flex flex-col h-max p-12;
}

main {
  @apply w-full p-12 h-full  flex flex-grow flex-col bg-black;
}

* {
  @apply text-secondary;
}

.gradient-header {
  background: linear-gradient(to right bottom, #e5bd36ff, #abb24d, #009092ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
