---
import BaseLayout from "../components/BaseLayout.astro";
---

<BaseLayout>
  <div
    class="w-full h-full flex flex-col flex-grow justify-center items-center space-y-12"
  >
    <h1 class="text-3xl font-anta text-center">
      500 - Unknown Error
      <br />Unhandled exception by some <span class="text-red-500"
        >Sith Lord</span
      >
      <br /><a href="/" class="link">May the force be with you</a>
    </h1>
    <div class="flex flex-row justify-center items-center space-x-8">
      <span class="animate-bounce">
        <span class="animate-pulse">
          <img src="/favicon.svg" class="w-32 h-32 animate-slow-spin" />
        </span>
      </span>
      <span class="animate-bounce">
        <span class="animate-pulse">
          <img src="/favicon.svg" class="w-32 h-32 animate-slow-spin" />
        </span>
      </span>
      <span class="animate-bounce">
        <span class="animate-pulse">
          <img src="/favicon.svg" class="w-32 h-32 animate-slow-spin" />
        </span>
      </span>
    </div>
  </div>
</BaseLayout>
