---
import BaseLayout from "../components/BaseLayout.astro";
---

<BaseLayout>
  <div
    class="w-full h-full flex flex-row flex-grow justify-center items-center space-x-12"
  >
    <span class="animate-bounce">
      <span class="animate-pulse">
        <img src="/favicon.svg" class="w-32 h-32 animate-slow-spin" />
      </span>
    </span>
    <span class="animate-bounce">
      <span class="animate-pulse">
        <img src="/favicon.svg" class="w-32 h-32 animate-slow-spin" />
      </span>
    </span>
    <span class="animate-bounce">
      <span class="animate-pulse">
        <img src="/favicon.svg" class="w-32 h-32 animate-slow-spin" />
      </span>
    </span>
  </div>
</BaseLayout>
