---

---

<div class='w-full space-x-4 flex justify-end items-center group'>
  <h2 class='text-lg text-right font-anta gradient-header'>
    Yang Ricardo<br />Barcellos Miranda
  </h2>
  <div class='avatar'>
    <div
      class='ring-white ring-offset-base-100 w-20 group-hover:scale-125 group-hover:ml-4 transition-all duration-500 rounded-full ring ring-offset-2'
    >
      <img src='/profile.webp' alt='Profile Photo' />
    </div>
  </div>
</div>
