---

---

<a href='/' class='w-full space-x-3 flex justify-start items-center group'>
  <img
    src='/favicon.svg'
    alt='Yang DevBR | Logo'
    class='w-16 h-16 group-hover:rotate-45 group-hover:scale-125 group-hover:mr-2 transition-all duration-500'
  />
  <h1 class='text-2xl font-anta gradient-header'>
    Yang<br />DevBR
  </h1>
</a>
