---
import '../styles/global.css';
import YangDevBRLogo from './header/YangDevBrLogo.astro';
import ProfilePhoto from './header/ProfilePhoto.astro';
import Footer from './footer.astro';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Anta&display=swap'
      rel='stylesheet'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap'
      rel='stylesheet'
    />

    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Yang DevBR</title>
  </head>
  <body>
    <div class='shell-container'>
      <nav class='navbar sticky top-0 z-50'>
        <ul class='w-full grid grid-cols-1 sm:grid-cols-2 gap-4'>
          <li class='flex flex-col justify-start items-center'>
            <YangDevBRLogo />
          </li>
          <li class='flex flex-col justify-end items-center'>
            <ProfilePhoto />
          </li>
        </ul>
      </nav>
      <main class='w-full flex flex-col flex-grow p-4'>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
