---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
const pubDate = new Date(Date.parse(frontmatter.pubDate));
const date = pubDate.toLocaleDateString(undefined, { dateStyle: "full" });
const time = pubDate.toLocaleTimeString(undefined, { timeZoneName: "short" });
---

<BaseLayout title={`${frontmatter.title} | Yang DevBR`}>
  <section
    class="mockup-window bg-base-300 border-2 font-mono border-cyan-400 my-8 mb-4"
  >
    <div class="bg-cyan-950 flex flex-col justify-start space-y-2 p-4">
      <h1 class="text-lg font-anta">
        {frontmatter.description}
      </h1>
      <p class="text-sm">
        Last Updated At: {date}
        {time}
      </p>
    </div>
  </section>
  <article class="markdown-article">
    <slot />
  </article>
  <div
    class="badge-base LI-profile-badge w-full flex justify-center items-center rounded-3xl p-8 circuit-background-pattern bg-base-300"
    data-locale="pt_BR"
    data-size="medium"
    data-theme="dark"
    data-type="VERTICAL"
    data-vanity="yangricardo"
    data-version="v1"
  >
    <a
      class="badge-base__link LI-simple-link"
      href="https://br.linkedin.com/in/yangricardo?trk=profile-badge"></a>
  </div>
</BaseLayout>
