---
import { Icon } from "astro-icon/components";
---

<footer class="footer footer-center text-base-content rounded p-2">
  <nav>
    <div class="flex space-x-8 justify-center items-center">
      <div class="grid grid-flow-col gap-4">
        <a
          href="/"
          class="w-full space-x-3 flex justify-start items-center group select-none"
        >
          <img
            src="/favicon.svg"
            alt="Yang DevBR | Logo"
            class="w-8 h-8 group-hover:rotate-180 group-hover:scale-125 group-hover:mr-2 transition-all duration-500 select-none pointer-events-none"
          />
          <h1 class="text-md font-anta gradient-header">
            Yang<br />DevBR
          </h1>
        </a>
      </div>
      <div class="grid grid-flow-col gap-2">
        <a
          href="https://www.linkedin.com/in/yangricardo"
          target="_blank"
          title="linkedin"
          rel="noopener"
        >
          <Icon
            name="linkedin"
            class={"text-cyan-500 hover:text-green-500 text-3xl transition-all duration-300 "}
          />
        </a>
        <a
          href="https://github.com/yangricardo"
          target="_blank"
          title="github"
          rel="noopener"
        >
          <Icon
            name="github"
            class={"text-cyan-500 hover:text-green-500 text-3xl transition-all duration-300 "}
          />
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=5521995560615"
          target="_blank"
          title="whatsapp"
          rel="noopener"
        >
          <Icon
            name="whatsapp"
            class={"text-cyan-500 hover:text-green-500 text-3xl transition-all duration-300 "}
          />
        </a>
        <a
          href="https://orcid.org/0000-0002-7414-1899"
          target="_blank"
          title="orcid"
          rel="noopener"
        >
          <Icon
            name="orcid"
            class={"text-cyan-500 hover:text-green-500 text-3xl transition-all duration-300 "}
          />
        </a>
        <a
          href="http://lattes.cnpq.br/5994507296564728"
          target="_blank"
          title="lattes"
          rel="noopener"
        >
          <Icon
            name="lattes"
            class={"text-cyan-500 hover:text-green-500 text-3xl transition-all duration-300 "}
          />
        </a>
        <a
          href="https://www.researchgate.net/profile/Yang-Miranda"
          target="_blank"
          title="researchgate"
          rel="noopener"
        >
          <Icon
            name="researchgate"
            class={"text-cyan-500 hover:text-green-500 text-3xl transition-all duration-300 "}
          />
        </a>
      </div>
    </div>
    <span class="text-xs m-0">
      Copyright ©{new Date().getFullYear()} - All right reserved to Yang Ricardo
      Barcellos Miranda
    </span>
  </nav>
</footer>
