---

---

<div class="w-full flex justify-center items-center">
  <div
    class="badge-base LI-profile-badge relative bg-transparent"
    data-locale="pt_BR"
    data-size="medium"
    data-theme="dark"
    data-type="VERTICAL"
    data-vanity="yangricardo"
    data-version="v1"
  >
    <!-- Clickable area -->
    <a
      href="https://br.linkedin.com/in/yangricardo?trk=profile-badge"
      class="absolute inset-0 z-0 cursor-pointer w-full flex flex-col justify-center items-center"
    >
      <span
        class="relative z-10 w-full flex flex-col justify-center items-center badge-base__link LI-simple-link"
      ></span>
    </a>
  </div>
</div>
