---

---

<div class="flex justify-center items-center">
  <div
    class="badge-base LI-profile-badge w-full max-w-lg rounded-3xl p-8 circuit-background-pattern bg-base-300 relative overflow-hidden"
    data-locale="pt_BR"
    data-size="medium"
    data-theme="dark"
    data-type="VERTICAL"
    data-vanity="yangricardo"
    data-version="v1"
  >
    <!-- Clickable area -->
    <a
      href="https://br.linkedin.com/in/yangricardo?trk=profile-badge"
      class="absolute inset-0 z-10 max-w-72"
      style="cursor: pointer; text-decoration: none;"
    >
      <span class="sr-only">LinkedIn Profile</span>
    </a>

    <!-- Content below the clickable area -->
    <div class="relative z-20">
      <span class="badge-base__link LI-simple-link" style="cursor: pointer;"
      ></span>
    </div>
  </div>
</div>
